body{
    background-color: rgb(0, 0, 0);
    margin: 0;
}
.container{
    text-align: center;
    display: block;
    overflow: hidden;
    height: 60px;
    position:static;
    top: 0px;
    background-color: rgb(0, 0, 0);
}
.navigation_bar{
    display: block;
    overflow: hidden;
    height: 50px;
    position: relative;
    top: 10px;
}
.logo{
    float: left;
    position: relative;
    top: 0;
    font-family: "Rubik Dirt", sans-serif;
}
.logo h2{
    float: left;
    margin: 3px;
}
.navigation_items{
    display: inline-block;
    position: relative;
    top: 6px;
}
.navigation_bar{
    justify-content: center;
}
.login_button{
    float: right;
}
.nav_item{
    text-decoration: none;
    color: white;
    margin: 0px 45px;
    font-size: 18px;
    padding: 5px;
}
.nav_item:hover{
    background-color: #4ace4aa1;
    padding: 5px;
    border-radius: 4px;
}
#logo_text1{
    color: #4ace4a;
}
#logo_text2{
    color: white;
}
.log{
    border: none;
    border-radius: 5px;
    background-color: #4ace4a;
    padding: 10px;
    color: white;
    font-weight: 600;
}
.log #log_in{
    text-decoration: none;
    color: white;
}
.princing_container{
    position: relative;
    top: 20px;
}
.onemonth{
    display: inline-block;
    border: 2px solid black;
    width: 279px;
    padding: 5px;
    border-radius: 20px;
    text-align: start;
    height: 500px;
    background-color: rgb(168, 60, 60);
    margin: 0 20px;
}
.text{
    margin: 31px 30px;
}
.container1{
    margin: auto;
    text-align: center;
}
.text i{
    margin-bottom: 20px;
}
.one_month_sub{
    font-size: 12px;
    font-weight: 1000;
}
.pricing{
    color: white;
}
.get_basic{
    background-color: black;
    color: white;
    padding: 13px 19px;
    border-radius: 5px;
    font-family: "kanti", sans-serif;
}
.sixmonths{
    display: inline-block;
    border: 2px solid black;
    width: 279px;
    padding: 5px;
    border-radius: 20px;
    text-align: start;
    height: 500px;
    background-color: rgb(168 60 159 / 81%);
    margin: 0 20px;
}
.text{
    margin: 31px 30px;
}
.container1{
    margin: auto;
    text-align: center;
}
.text i{
    margin-bottom: 20px;
}
.six_month_sub{
    font-size: 12px;
    font-weight: 1000;
}
.get_standard{
    background-color: black;
    color: white;
    padding: 13px 19px;
    border-radius: 5px;
    font-family: "kanti", sans-serif;
}
.one_year{
    display: inline-block;
    border: 2px solid black;
    width: 279px;
    padding: 5px;
    border-radius: 20px;
    text-align: start;
    height: 500px;
    background-color:rgb(98 168 60 / 81%);
    margin: 0 20px;
}
.text{
    margin: 31px 30px;
}
.container1{
    margin: auto;
    text-align: center;
}
.text i{
    margin-bottom: 20px;
}
.one_year_sub{
    font-size: 12px;
    font-weight: 1000;
}
.get_primium{
    background-color: black;
    color: white;
    padding: 13px 19px;
    border-radius: 5px;
    font-family: "kanti", sans-serif;
}
.one_year:hover{
    background-color: rgb(98, 168, 60);
}
.onemonth:hover{
    background-color:rgb(194, 53, 53) ;
}
.sixmonths:hover{
    background-color:rgb(185, 59, 175) ;
}
.get_basic,.get_standard, .get_primium{
    background-color: rgb(46, 46, 46);
}
.get_primium:hover, .get_basic:hover,.get_standard:hover{
    cursor: pointer;
    background-color: black;
}
#nav_bars{
    color: white;
    height: 20px;
    float: left;
    position: relative;
    top: 10px;
    margin-right: 10px;
    display: none;
}
.sideNavBar{
    color: white;
}
.side_navigation_items{
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.238);
    position: relative;
    top: 0;
    padding: 1px;
    flex: none;
    display: none;
}

.items{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    margin: 15px;
}

@media (max-width:1000px) and (min-width:620px){
    .logo{
        font-size: 10px;
        top: 8px;
    }
    .nav_item{
        font-size: 12px;
    }
}
@media (max-width:620px){
    .logo{
        font-size: 10px;
        top: 8px;
        float: none;
    }
    .nav_item{
        display:none;
    }
    #nav_bars{
        display: inline;
        float: left;
        top: 18px;
        margin-right: 5px;
        margin-left: 7px;
        font-size: 22px;
    }
    .log{
        padding: 6px;
    }
    .login_button{
        margin-top: 5px;
    }
    .sixmonths,.one_year{
        margin-top: 30px;
    }
    .one_year{
        margin-bottom: 50px;
    }
}