body{
    background-color: rgba(0, 0, 0, 0.789);
    margin: 0;
    height: 100%;
}
.container{
    text-align: center;
    display: block;
    overflow: hidden;
    height: 60px;
    position:static;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.238);
}
.navigation_bar{
    display: block;
    overflow: hidden;
    height: 50px;
    position: relative;
    top: 10px;
}
.logo{
    float: left;
    position: relative;
    top: 0;
    font-family: "Rubik Dirt", sans-serif;
    cursor: pointer;
}
.logo h2{
    float: left;
    margin: 3px;
}
.navigation_items{
    display: inline-block;
    position: relative;
    top: 6px;
}
.navigation_bar{
    justify-content: center;
}
.login_button{
    float: right;
}
.nav_item{
    text-decoration: none;
    color: white;
    margin: 0px 45px;
    font-size: 18px;
    padding: 5px;
}
.nav_item:hover{
    background-color: #4ace4aa1;
    padding: 5px;
    border-radius: 4px;
}
#logo_text1{
    color: #4ace4a;
}
#logo_text2{
    color: white;
}
.log{
    border: none;
    border-radius: 5px;
    background-color: #4ace4a;
    padding: 10px;
    color: white;
    font-weight: 600;
}
.slogan{
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    display: inline;
    font-size: 57px;
    color: #4ace4ae3;
    position: relative;
    top: 60px;
}
.pages{
    text-align: center;
    position: relative;
    top: 16px;

}
.page1, .page2, .page3,.page4{
    display: inline-block;
    margin: 5px;
    border-radius: 6px;
    background-color: rgb(236 236 236);
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 200px;
    cursor: pointer;
}
.page1 h5,.page2 h5,.page3 h5,.page4 h5{
    color: #4ace4a;
    font-family: "Cabin", sans-serif;
    margin: 0;
}

.page1:hover, .page2:hover, .page3:hover,.page4:hover{
    background-color: rgba(0, 0, 0, 0.225);
    background-color:white;
}
.page1 p,.page2 p,.page3 p,.page4 p{
    margin-top: 3px;
}
#fitness_logo,#dite_logo,#motivation_logo,#certified_logo{
    width: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.image{
    margin-top: 50px;
    text-align: center;
    display: inline-block;
    color: white;
    position: relative;
}
.img{
    width: 40%;
}
.para{
    width: 40%;
    margin: auto;
    margin-top: 0;
    background-color: #4ace4a;

}
.sideNavBar{
    color: white;
}
.side_navigation_items{
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.238);
    position: relative;
    top: 0;
    padding: 1px;
    flex: none;
    display: none;
}

.items{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    margin: 15px;
}
.items:hover{
    background-color: rgba(255, 255, 255, 0.295);
}

#nav_bars{
    color: white;
    height: 20px;
    position: relative;
    margin-right: 10px;
    display: none;
    margin-top: 16px;
}
.nav_item, .items{
    font-family:"Inter" sans-serif;
}

@media (max-width:1000px) and (min-width:620px){
    .logo{
        font-size: 10px;
        top: 8px;
    }
    .nav_item{
        font-size: 12px;
    }
    .navigation_bar{
        width: 100%;
    }
    html{
        width: 100%;
    }
}
@media (max-width: 850px){
    .img,.para{
        width: 70%;
    }
}
@media (max-width:620px){
    .logo{
        font-size: 10px;
        top: 8px;
        float: none;
    }
    .nav_item{
        display:none;
    }
    #nav_bars{
        display: inline;
        float: left;
        top: 2px;
        margin-right: 5px;
        margin-left: 7px;
        font-size: 22px;
    }
    .log{
        padding: 6px;
    }
    .login_button{
        margin-top: 5px;
    }
    .slogan{
        font-size: 20px;
        top: 9px;
    }
    
}

